.textConteudo > p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}
.bg_fix{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
#carro,
#residencial,
#insulfilms, 
#projetos {
    height: 63%;
}
#carro {
    background-image: url(../imagens/insulfilm-automotivo-1280x720.jpg);
}
#residencial {
    background-image: url(../imagens/insulfilm-espelhado-residencial.jpeg);
}
#insulfilms {
    background-image: url(../imagens/Peliculas-Automotivas.jpg);
}
.bx-wrapper a.bx-next {
    right: -40px;
}
.bx-wrapper a.bx-prev {
    left: -40px;
}
body, html{
    height: 100%;
}
section {
    height:100%;
    padding-top: 70px;
}
.textConteudo h3{
    color: #b52e1a;
}
.textConteudo h4{
    margin-top: 15px;
    color: #b52e1a;
}
.mapaocalizacao h1,
.textContato h1{
    margin-top: 15px;
    color: #b52e1a;
}
.textContato p{
color: #000;
    font-size: 18px;
    font-weight: 500;
}


.contprojetos{
    float: left;
    width: 100%;
    max-width: 600px;
    display: block;
    padding: 20px 40px;
    background: #ffffff80;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
    margin-bottom: 0 !important;
}
.textConteudo {
    float: left;
    width: 100%;
    display: block;
    padding: 20px 20px;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
}
.textConteudo > .link {
    background: #b22f1c;
    color: #fff;
    padding: 5px 0;
    border-radius: 9px;
    width: 130px;
    float: left;
    margin: 20px 0;
    text-align: center;
}



@media (min-width:320px) and (max-width:767px) {
    #carro, #residencial, #insulfilms, #projetos {
        height: 32%;
    }
    section {
        height: 110%;
        padding-top: 70px;
    }
    .textConteudo {
        padding: 20px 20px;
    }  
    .bx-wrapper a.bx-prev {
        left: 10px;
    }
    .bx-wrapper a.bx-next {
        right: 10px;
    }    
    .bg_fix {
        background-attachment: initial;
    }
    section.residencial {
        height: 150%;
    }
    section.insulfims {
        height: 150%;
    }
    section#contato {
        height: 120%;
    }
    
}


