.textConteudo > p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}
.bg_fix{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
#carro, #residencial, #insulfilms{
    height: 70%;
    max-height: 100%;
}

section.projetos {
    height: 70%;
}
section#contato {
    height: 700px;
}
#carro {
    background-image: url(../imagens/insulfilm-automotivo-1280x720.jpg);
}
#residencial {
    background-image: url(../imagens/insulfilm-espelhado-residencial.jpeg);
}
#insulfilms {
    background-image: url(../imagens/Peliculas-Automotivas.jpg);
}
/* .bx-wrapper a.bx-next {
    right: -40px;
}
.bx-wrapper a.bx-prev {
    left: -40px;
} */
body, html{
    height: 100%;
}
section {
    height:100%;
    padding-top: 70px;
}
.textConteudo h3{
    color: #b52e1a;
}
.textConteudo h4{
    margin-top: 15px;
    color: #b52e1a;
}
.mapaocalizacao h1,
.textContato h1{
    margin-top: 15px;
    color: #b52e1a;
}
.textContato p{
color: #000;
    font-size: 18px;
    font-weight: 500;
}


.contprojetos{
    float: left;
    width: 100%;
    max-width: 600px;
    display: block;
    padding: 20px 40px;
    background: #ffffff80;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
    margin-bottom: 0 !important;
}
#projetos .container {
    padding: 30px;
}
#projetos  .textConteudo {
    padding:20px 0 ;
}
.mapaocalizacao {
    float: right;
    max-width: 100%;
    padding: 20px;
    width: 50%;
}
.textContato {
    padding: 20px;
    float: left;
    max-width: 100%;
    width: 50%;
}
.textConteudo {
    float: left;
    width: 100%;
    display: block;
    padding: 20px 20px;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-align: justify;
}
.textConteudo > .link {
    background: #b22f1c;
    color: #fff;
    padding: 5px 0;
    border-radius: 9px;
    width: 130px;
    float: left;
    margin: 20px 0;
    text-align: center;
}

.menuContudo li a:hover {
    border-bottom: 2px solid #a73d2e;
    color: #a73d2e;
}

@media (min-width:320px) and (max-width:767px) {
    .mapaocalizacao,
    .textContato {
        width:100%;
    }
    .menuContudo li a:hover {
        border-bottom: 0;
        color: #a73d2e;
    }
    #carro, #residencial, #insulfilms {
        height: 32%;
    }
    section {
        height: 582px;
        padding-top: 70px;
    }
    .textConteudo {
        padding: 20px 20px;
    }  
    .bx-wrapper a.bx-prev {
        left: 10px;
    }
    .bx-wrapper a.bx-next {
        right: 10px;
    }    
    .bg_fix {
        background-attachment: initial;
    }
    section.residencial {
        height: 725px;
    }
    section.insulfims {
        height: 700px;
    }
    section.projetos {
        height: 558px;
    }
    section#contato {
        height: 830px;
    }
    
}


